/* # Front-end Style Guide
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)

### Neutral

- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Public Sans](https://fonts.google.com/specimen/Public+Sans)
- Weights: 300, 400, 700


## TODO:
width: 100%;
max-width: 1440px;
min-width: 375px;
overflow: hidden;

*/

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: #31d35c;
    --brightCyan: #2bb7da;
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}


/* Start Global Class  */

.main-color {
    background: rgb(49, 211, 92);
    background: -moz-linear-gradient(left, rgb(49, 211, 92) 0%, rgb(43, 183, 218) 100%);
    background: -webkit-linear-gradient(left, rgb(49, 211, 92) 0%, rgb(43, 183, 218) 100%);
    background: linear-gradient(to right, rgb(49, 211, 92) 0%, rgb(43, 183, 218) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#31d35c', endColorstr='#2bb7da', GradientType=1);
}

.btn-rinvite {
    color: var(--white);
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 14px;
}


/* End Global Class  */


/* Start Navbar */

body>nav {
    z-index: 2;
}

body>nav.bg-light {
    background-color: var(--white) !important;
}


/* End Navbar */


/* Start Hero  */

.hero-images {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 160vh;
    top: 0%;
    right: 0;
}

.hero-images img {
    position: absolute;
    width: 800px;
}

.hero-images img.mockups {
    top: -130px;
    left: 50%;
}


/* End Hero  */


/* Start Header  */

header {
    position: relative;
    height: 600px;
    /* min-height: 600px;
    max-height: 800px; */
}

.description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    max-width: 400px;
    /* min-height: 400px;
    max-height: 600px; */
    padding-right: 1.5rem;
}


/* End Header  */


/* Start My Choose Easybank  */

.choose-easybank {
    background-color: var(--lightGrayishBlue);
    padding: 3rem 0;
}

.choose-easybank h2 {
    color: var(--darkBlue);
    margin: 1.5rem 0;
    font-weight: 400;
}

.choose-easybank p {
    max-width: 500px;
    font-size: 14px;
    font-weight: 300;
}

.choose-easybank .ce-container {
    padding: 0;
    padding: 3rem 0;
}

.choose-easybank .main-card img {
    margin: 1rem 0;
}


/* End My Choose Easybank  */


/* End Latest Articles  */

.latest-articles {
    background-color: var(--veryLightGray);
    padding: 3rem 0;
}

.latest-articles h2 {
    margin: 3rem 0;
}

.latest-articles figure.main-card img {
    width: 200px;
    height: 150px;
    /* margin: 1rem 0; */
}

.latest-articles figure.main-card div {
    background-color: var(--white);
    padding: 1.5rem;
}

.latest-articles figure.main-card figcaption {
    font-size: 9px;
    color: #ccc;
}

.latest-articles figure.main-card div strong {
    font-weight: 700;
    margin: 0.5rem 0;
    display: block;
    line-height: 1.2;
}

.latest-articles figure.main-card p {
    font-size: 14px;
    font-weight: 300;
}

footer {
    background-color: var(--darkBlue);
}

footer div section {
    padding: 2rem 0;
}


/* Part 2 */

footer div section .part-1 {
    position: relative;
}

footer div section .part-1 div {
    position: absolute;
    bottom: 0;
}

footer div section .part-1 div img {
    width: 20px;
    margin-right: 15px;
}


/* Part 2 */

footer div section .part-2 ul li {
    list-style-type: none;
    font-weight: 400;
}

footer div section .part-2 ul li a {
    color: var(--grayishBlue);
    text-decoration: none;
}


/* Part 3 */

footer div section .part-3 {
    position: relative;
    text-align: right;
}

footer div section .part-3 p {
    margin-top: 2rem;
    color: var(--grayishBlue);
}


/* End Latest Articles  */

.attribution {
    /* position: fixed; */
    bottom: 10px;
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 100%;
}

.attribution a {
    color: #ccc;
    text-decoration: none;
}